@import url('https://fonts.googleapis.com/css2?family=Rakkas&display=swap');


body {
    /* text-align: center;
    max-width: 60%; */
    margin: 0px;
    font-family: 'Rakkas', cursive;
    letter-spacing: 3px;
    font-size: 30px;
}

:root{
    --navbar-grey: rgb(20, 20, 20);
    --shadow: #9CA3AF;
    --hover-shade:#E5E7EB;
    --hover-btn: #1F2937;
}

div{
    text-align: center;
    margin: auto;
    max-width: 60%;
}

textarea{
    padding-top: 0.5rem;
    text-align: center;
    margin: auto;
    margin-bottom: 0px;
    border-radius: 0.4rem;
    font-family: 'Rakkas', cursive;
    letter-spacing: 2px;
    font-size: 20px;
}

textarea:hover {
    background-color: var(--hover-shade);
    border-color: black;
    transition: 0.3s;
}


.navigation{
    background-color: var(--navbar-grey);
    margin-block-start: 0px;
    padding:0.7rem;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    margin-bottom: 1rem;
}

.navigation .nav-brand{
    font-weight: bold;
    color:rgb(255, 255, 255);
    margin: 1rem;
}

#btn-translate {
    background-color: var(--navbar-grey);
    color: white;
    font-family: 'Rakkas', cursive;
    letter-spacing: 1.3px;
    font-size: 23px;
    border:0.2rem solid black;
    border-radius: 0.5rem;
}

#btn-translate:hover{
    background-color: var(--hover-btn);
    border-color: var(--shadow);
    transition: 0.3s;
}

footer {
    background-color: var(--navbar-grey);
    text-align: center;
    padding: 0.2rem;
    color: rgb(255, 255, 255);
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    margin-top: 4rem;
    font-size: 20px;
}